<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popsicle Crash</title>
    <link rel="stylesheet" href="../game/global.css" />
  </head>
  <body>
    <script src="../game/src/boardUtils/pen.js"></script>
    <script src="../game/src/boardUtils/checker.js"></script>
    <script src="../game/src/boardUtils/clearer.js"></script>
    <script src="../game/src/boardUtils/mouse.js"></script>
    <script src="../game/src/GameState.js"></script>
    <script src="../game/src/GameBoard.js"></script>
    <script src="../game/src/GameCandies.js"></script>
    <script src="../game/init.js"></script>
    <script src="../game/game.js"></script>
  </body>
</html>

